.skill {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	height: 50px;
	padding: 12px;
	border-radius: 25px;
	background-color: #31415880;
	border: 1px solid #31415880;
	scale: 1;
	transition: background-color 0.3s ease, border-color 0.3s ease,
		scale 0.3s ease;

	&:hover {
		background-color: var(--blue-20);
		border-color: var(--blue-80);
		scale: 1.1;
	}
}

.icon {
	height: 24px;

	svg {
		width: 24px;
		height: 24px;
	}
}

.name {
	font-size: 14px;
}
