.hero {
	padding-block: 50px;
}

.hero-inner {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;
}

.pretitle {
	color: var(--gradient-light-blue);
}

.name {
	margin: 0 0 18px;
	background: linear-gradient(
		90deg,
		var(--gradient-blue) 0%,
		var(--gradient-light-blue) 100%
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.title {
	color: var(--gray);
	margin-block: 0 36px;
}

.description {
	margin-block: 0;
	color: var(--gray);
	max-width: 60ch;
	font-size: 20px;
}

.btns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 18px;
	margin-block-start: 48px;
}

.links {
	margin-block-start: 48px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	gap: 24px;

	a {
		display: flex;

		svg {
			width: 24px;
			height: auto;

			* {
				&[fill] {
					fill: var(--gray);
				}
				&[stroke] {
					stroke: var(--gray);
				}

				transition: all 0.3s ease;
			}
		}

		&:hover {
			svg * {
				&[fill] {
					fill: var(--gradient-blue);
				}
				&[stroke] {
					stroke: var(--gradient-blue);
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.hero {
		padding-block: 40px;
	}

	.name {
		margin-block-end: 10px;
	}

	.title {
		margin-block: 0 18px;
	}

	.description {
		font-size: 16px;
	}

	.btns,
	.links {
		margin-block-start: 30px;
	}
}
