.about {
	padding-block: 80px;
}

.about-inner {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-areas:
		"title title"
		"description list";
	gap: 24px 32px;
}

.title {
	grid-area: title;
	margin: 0;
}

.description {
	grid-area: description;

	p {
		color: light-dark(var(--dark-gray), var(--white));
		transition: color 0.3s ease;
	}
}

.list {
	margin: 0;
	grid-area: list;
	list-style: none;
	padding: 0;

	li {
		position: relative;
		padding-inline-start: 24px;
		transition: translate 0.3s ease;

		&:not(:last-child) {
			margin-block-end: 16px;
		}

		> * {
			margin: 0;
		}

		&:before {
			content: "";
			position: absolute;
			top: 8px;
			left: 0;
			width: 10px;
			height: 10px;
			border-radius: 100%;
			transition: scale 0.3s ease;
		}

		&:nth-child(3n + 1) {
			&:before {
				background-color: var(--blue);
			}
		}

		&:nth-child(3n + 2) {
			&:before {
				background-color: var(--turquoise);
			}
		}

		&:nth-child(3n + 3) {
			&:before {
				background-color: var(--purple);
			}
		}

		&:hover {
			translate: 15px 0;

			&:before {
				scale: 1.7;
			}
		}
	}
}

.list-title {
	font-size: 16px;
}

@media screen and (max-width: 767px) {
	.about {
		padding-block: 45px;
	}

	.about-inner {
		grid-template-columns: 1fr;
		grid-template-areas:
			"title"
			"description"
			"list";
	}
}
