.contact {
	margin-block: 80px;
}

.contact-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	text-align: center;

	> * {
		margin: 0;
	}
}

.other {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	gap: 24px;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		height: 48px;
		aspect-ratio: 1;
		background-color: var(--dark-blue-alt-50);
		transition: background-color 0.3s ease;

		svg {
			width: 24px;
			height: 24px;

			* {
				fill: var(--gray);
			}
		}

		&:hover {
			background-color: var(--dark-blue-alt-80);
		}
	}
}

@media screen and (max-width: 767px) {
	.contact {
		margin-inline: 46px;
	}
}
