.contact {
	margin-block: 80px;
}

.contact-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	> * {
		margin: 0;
	}
}

.title {
	margin-block-end: 16px;
}

.cta {
	margin-block: 32px;
}

.other {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	gap: 24px;

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		height: 48px;
		aspect-ratio: 1;
		background-color: light-dark(
			var(--pure-white),
			var(--dark-blue-alt-50)
		);
		border: 2px solid light-dark(var(--white), var(--dark-blue-alt-50));
		transition: all 0.4s ease;

		svg {
			width: 24px;
			height: 24px;

			* {
				fill: light-dark(var(--dark-gray-alt), var(--gray));
			}
		}

		&:hover {
			background-color: light-dark(
				var(--pure-white),
				var(--dark-blue-alt-80)
			);
			border-color: var(--gradient-light-blue);
		}
	}
}

@media screen and (max-width: 767px) {
	.contact {
		margin-inline: 46px;
	}
}
