.skills-category-ctn {
	display: flex;
	flex-flow: column nowrap;
	width: calc(100% / 3);
	padding-block-end: 32px;
	padding-inline-start: 32px;
}

.skills-category {
	flex-grow: 1;
	background-color: var(--dark-blue-alt-50);
	padding: 24px;
	border-radius: 10px;
	border: 1px solid var(--blue-20);
	box-shadow: 0 10px 20px 0px transparent;
	transition: all 0.3s ease;

	&:hover {
		border-color: var(--blue-50);
		translate: 0 -15px;
		box-shadow: 0 10px 20px 0px var(--blue-20);
	}
}

.title-ctn {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 12px;
	align-items: center;
	margin-block-end: 16px;
}

.title {
	margin: 0;
}

.icon {
	display: grid;
	place-items: center;
	background-color: var(--blue-10);
	border-radius: 10px;
	width: 40px;
	height: 40px;

	svg {
		width: 24px;
		height: 24px;

		* {
			fill: var(--gradient-blue);
		}
	}
}

.items {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
	.skills-category-ctn {
		width: 50%;
	}
}

@media screen and (max-width: 767px) {
	.skills-category-ctn {
		width: 100%;
		padding-block-end: 24px;
	}

	.title-ctn {
		margin-block-end: 12px;
	}
}
