.skills-category {
	--fade-in-factor: 0%;
	--fade-in-start: 5%;
	--fade-in-end: 15%;

	margin-block-start: 55px;
}

.title-ctn {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	gap: 12px;
	align-items: center;
	margin-block-end: 32px;

	span {
		display: block;
		height: 1px;
		background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(43, 127, 255, 0.5) 50%,
			rgba(0, 0, 0, 0) 100%
		);
		opacity: 0.8;
	}
}

.title {
	margin: 0;
	padding-inline: 30px;
	font-size: 20px;
	background: linear-gradient(
		90deg,
		var(--gradient-blue) 0%,
		var(--gradient-light-blue) 100%
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.items {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 16px;
	flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
	.items {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (max-width: 767px) {
	.skills-category {
		margin-block-start: 30px;
	}

	.items {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 480px) {
	.items {
		grid-template-columns: repeat(2, 1fr);
	}
}
