.item {
	display: flex;
	flex-flow: column nowrap;
	width: calc(100% / 3);
	padding-block-end: 32px;
	padding-inline-start: 32px;
}

.item-inner {
	background-color: var(--dark-blue-alt-50);
	border-radius: 10px;
	border: 1px solid var(--blue-20);
	box-shadow: 0 10px 20px 0px transparent;
	transition: all 0.3s ease;

	&:hover {
		border-color: var(--blue-50);
		translate: 0 -15px;
		box-shadow: 0 10px 20px 0px var(--blue-20);

		.title {
			color: var(--gradient-blue);
		}
	}
}

.content {
	padding: 24px;
}

.items-img-ctn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 190px;
	background-color: var(--dark-blue-50);

	svg {
		width: 100px;
		height: 100px;

		* {
			fill: var(--blue-50);
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.title {
	margin-block: 0 8px;
	transition: color 0.4s ease;
}

.description {
	margin-block: 8px 18px;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}

.skills-item {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--gray-blue);
	border: 1px solid var(--blue-20);
	width: 50px;
	height: 50px;
	border-radius: 10px;

	svg {
		width: 24px;
		height: 24px;
	}
}

.links {
	display: flex;
	gap: 16px;
	margin-block-start: 16px;

	a {
		display: inline-flex;
		align-items: center;
		color: var(--gray);
		text-decoration: 0;
		gap: 7px;
		font-size: 14px;
		transition: color 0.3s ease;

		svg {
			width: 20px;
			height: 20px;

			* {
				fill: var(--gray);
				transition: fill 0.3s ease;
			}
		}

		&:hover {
			color: var(--gradient-blue);

			svg * {
				fill: var(--gradient-blue);
			}
		}
	}
}

@media screen and (max-width: 1023px) {
	.item {
		width: 50%;
	}
}

@media screen and (max-width: 767px) {
	.item {
		width: 100%;
		padding-block-end: 24px;
	}

	.content {
		padding: 16px;
	}

	.skills-item {
		width: 40px;
		height: 40px;

		svg {
			width: 20px;
			height: 20px;
		}
	}
}
