.skills {
	margin-block: 80px;
}

.skills-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	margin-block: 0;
	text-align: center;
}

.description {
	text-align: center;
}

.list {
	width: 100%;
}

@media screen and (max-width: 767px) {
	.skills {
		margin-block: 45px;
	}

	.title {
		margin-block-end: 35px;
	}
}
