.header {
	@supports (container-type: scroll-state) {
		container-type: scroll-state;
		container-name: header;
	}

	position: sticky;
	z-index: 100;
	top: 0;
}

.header-inner {
	--header-inner-shadow-color: light-dark(transparent, rgba(0, 0, 0, 0.1));
	width: 100%;
	background-color: light-dark(var(--pure-white-95), var(--dark-blue-50));
	border-bottom: 1px solid light-dark(#e5e7eb, var(--blue-20));
	box-shadow:
		0 10px 15px -3px var(--header-inner-shadow-color),
		0 4px 6px -4px var(--header-inner-shadow-color);
	height: var(--header-height);
	transition:
		box-shadow 0.3s ease-in-out,
		border-color 0.3s ease-in-out,
		background-color 0.3s ease-in-out,
		height 0.3s ease-in-out;
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-size: 20px;
	margin: 0;
}

.nav,
.menu {
	display: flex;
	gap: 10px 25px;
	align-items: center;
}

.nav {
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		border: 1px solid var(--blue-20);
		background-color: light-dark(transparent, var(--dark-blue-alt-50));
		height: 42px;
		cursor: pointer;
		color: var(--gradient-blue);
		font-weight: 700;
		transition: background-color 0.3s ease-in-out;

		&:hover {
			background-color: var(--white-20);
		}

		svg {
			& path {
				&[fill] {
					fill: var(--gradient-blue);
				}
				&[stroke] {
					stroke: var(--gradient-blue);
				}
			}
		}
	}
}

.menu {
	a {
		position: relative;
		font-size: 16px;
		text-decoration: none;
		color: light-dark(var(--dark-gray), var(--white));
		transition: color 0.3s ease-in-out;
	}
}

.lang-btn {
	width: 50px;
}

.theme-btn {
	width: 42px;

	svg {
		width: 20px;
		height: 20px;
	}
}

.menu-btn {
	width: 38px;

	svg {
		width: 18px;
		height: 18px;
	}
}

@media screen and (min-width: 768px) {
	@supports (container-type: scroll-state) {
		.header-inner {
			@container header scroll-state(stuck: top) {
				--header-height: 60px;
				background-color: light-dark(
					var(--pure-white-95),
					var(--dark-blue)
				);
			}
		}
	}

	.menu {
		scroll-target-group: auto;

		a {
			&:after {
				content: "";
				position: absolute;
				bottom: -2px;
				left: 0;
				display: block;
				width: 100%;
				height: 2px;
				background-color: var(--gradient-blue);
				scale: 0;
				transform-origin: center left;
				transition:
					scale 0.3s ease-in-out,
					color 0.3s ease-in-out,
					background-color 0.3s ease-in-out;
			}

			&:hover,
			&:target-current {
				color: var(--gradient-blue);

				&:after {
					scale: 1;
				}
			}
		}
	}

	button.menu-btn {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	:root {
		--header-height: 62px;
	}

	.header-inner {
		&.menu-open {
			.menu {
				opacity: 1;
				visibility: visible;
				translate: 0 0;
				transition:
					translate 0.3s ease-in-out,
					opacity 0.3s ease-in-out,
					visibility 0s ease-in-out;
			}
		}
	}

	.title {
		font-size: 18px;
	}

	.nav {
		gap: 8px;
	}

	.menu {
		position: absolute;
		inset: 100% 0 auto;
		z-index: 100;
		flex-flow: column;
		align-items: normal;
		padding: var(--mobile-padding);
		background-color: light-dark(var(--pure-white), var(--dark-blue));
		border-top: 1px solid light-dark(var(--pure-white), #152b56);
		border-bottom: 1px solid var(--blue-20);
		opacity: 0;
		visibility: hidden;
		translate: 0 20px;
		transition:
			translate 0.3s ease-in-out,
			opacity 0.3s ease-in-out,
			visibility 0s ease-in-out 0.3s;
		border-color: 0.3s ease-in-out;
		background-color: 0.3s ease-in-out;

		a {
			padding: 10px 15px;
			border-radius: 8px;
			transition: all 0.3s ease-in-out;

			&:hover {
				background-color: var(--blue-10);
				color: var(--gradient-blue);
			}
		}
	}
}
