.header {
	position: sticky;
	z-index: 10;
	top: 0;
	background-color: var(--dark-blue-50);
	border-bottom: 1px solid var(--blue-20);
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -4px rgba(0, 0, 0, 0.1);
	height: var(--header-height);
}

.header-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-size: 20px;
	background: linear-gradient(
		90deg,
		var(--gradient-blue) 0%,
		var(--gradient-light-blue) 100%
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
}

.nav,
.menu {
	display: flex;
	gap: 10px 25px;
	align-items: center;
}

.nav {
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		border: 1px solid var(--blue-20);
		background-color: var(--dark-blue-alt-50);
		height: 42px;
		cursor: pointer;
		color: var(--gradient-blue);
		font-weight: 700;
		transition: background-color 0.3s ease-in-out;

		&:hover {
			background-color: var(--white-20);
		}

		svg {
			& path {
				&[fill] {
					fill: var(--gradient-blue);
				}
				&[stroke] {
					stroke: var(--gradient-blue);
				}
			}
		}
	}
}

.menu {
	a {
		position: relative;
		font-size: 16px;
		text-decoration: none;
		transition: color 0.3s ease-in-out;
	}
}

.lang-btn {
	width: 50px;
}

.theme-btn {
	width: 42px;

	svg {
		width: 20px;
		height: 20px;
	}
}

.menu-btn {
	width: 38px;

	svg {
		width: 18px;
		height: 18px;
	}
}

@media screen and (min-width: 768px) {
	.menu {
		a {
			&:after {
				content: "";
				position: absolute;
				bottom: -2px;
				left: 0;
				display: block;
				width: 100%;
				height: 2px;
				background-color: var(--gradient-blue);
				scale: 0;
				transform-origin: center left;
				transition: scale 0.3s ease-in-out;
			}

			&:hover {
				color: var(--gradient-blue);

				&:after {
					scale: 1;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	:root {
		--header-height: 62px;
	}

	.header {
		&.menu-open {
			.menu {
				opacity: 1;
				visibility: visible;
				translate: 0 0;
				transition: translate 0.3s ease-in-out, opacity 0.3s ease-in-out,
					visibility 0s ease-in-out;
			}
		}
	}

	.title {
		font-size: 18px;
	}

	.nav {
		gap: 8px;
	}

	.menu {
		flex-flow: column;
		align-items: normal;
		position: absolute;
		inset: 100% 0 auto;
		padding: var(--mobile-padding);
		background-color: var(--dark-blue);
		border-top: 1px solid #152b56;
		border-bottom: 1px solid var(--blue-20);
		opacity: 0;
		visibility: hidden;
		translate: 0 20px;
		transition: translate 0.3s ease-in-out, opacity 0.3s ease-in-out,
			visibility 0s ease-in-out 0.3s;

		a {
			padding: 10px 15px;
			border-radius: 8px;
			transition: all 0.3s ease-in-out;

			&:hover {
				background-color: var(--blue-10);
				color: var(--gradient-blue);
			}
		}
	}
}
