.header {
	position: sticky;
	top: 0;
	background-color: var(--dark-blue-50);
	border-bottom: 1px solid var(--blue-20);
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -4px rgba(0, 0, 0, 0.1);
	height: 75px;
}

.header-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	background: linear-gradient(
		90deg,
		var(--gradient-blue) 0%,
		var(--gradient-light-blue) 100%
	);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
}

.nav {
	display: flex;
	gap: 10px 25px;
	align-items: center;

	a {
		position: relative;
		font-size: 16px;
		text-decoration: none;
		transition: color 0.3s ease-in-out;

		&:after {
			content: "";
			position: absolute;
			bottom: -2px;
			left: 0;
			display: block;
			width: 100%;
			height: 2px;
			background-color: var(--gradient-blue);
			scale: 0;
			transform-origin: center left;
			transition: scale 0.3s ease-in-out;
		}

		&:hover {
			color: var(--gradient-blue);

			&:after {
				scale: 1;
			}
		}
	}

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		border: 1px solid var(--blue-20);
		background-color: var(--dark-blue-alt-50);
		height: 42px;
		cursor: pointer;
		color: var(--gradient-blue);
		font-weight: 700;
		transition: background-color 0.3s ease-in-out;

		&:hover {
			background-color: var(--white-20);
		}

		svg {
			& path {
				fill: var(--gradient-blue);
			}
		}
	}
}

.lang-btn {
	width: 50px;
}

.theme-btn {
	width: 42px;

	svg {
		width: 20px;
		height: 20px;
	}
}
