.footer {
	align-items: center;
	height: 88px;
	background-color: light-dark(var(--pure-white), var(--dark-blue-alt-50));
	text-align: center;
	border-top: 1px solid light-dark(var(--white), var(--dark-blue-alt-50));
	transition: all 0.3s ease;

	p {
		margin: 0 auto;
		color: light-dark(var(--dark-gray-alt), var(--gray));
	}
}

@media screen and (max-width: 767px) {
	.footer {
		height: 65px;
	}
}
