@layer default {
	html {
		background-color: light-dark(var(--white-alt), var(--dark-blue));
		font-family: var(--font-family);
		color: var(--white);
		scroll-behavior: smooth;
		transition:
			background-color 0.3s ease,
			color 0.3s ease;

		&::target-text {
			background-color: #22d3ee;
			color: white;
		}

		&::selection {
			background-color: #3b82f6;
			color: #e0f2fe;
		}

		&[data-theme="dark"] {
			color-scheme: dark;
		}

		&[data-theme="light"] {
			color-scheme: light;
		}
	}

	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3,
	h4,
	.h4,
	h5,
	.h5,
	h6,
	.h6 {
		color: light-dark(var(--black), var(--pure-white));
		font-weight: 700;
		line-height: 1.2;
		margin-block-end: 16px;
		text-wrap: balance;
		transition: color 0.3s ease;
	}

	h1,
	.h1 {
		font-size: 96px;
	}

	h2,
	.h2 {
		font-size: 60px;
		color: var(--gray);
	}

	h3,
	.h3 {
		font-size: 30px;
		line-height: 1.2;
	}

	h4,
	.h4 {
		font-size: 20px;
		line-height: 1.5;
	}

	p {
		color: light-dark(var(--dark-gray), var(--gray));
		margin-block: 16px;
		orphans: 3;
		widows: 2;
		max-width: 80ch;
		transition: color 0.3s ease;

		&:first-child {
			margin-block-start: 0;
		}

		&:last-child {
			margin-block-end: 0;
		}
	}
}

@media screen and (max-width: 768px) {
	h1,
	.h1 {
		font-size: 50px;
		text-box: trim-start cap alphabetic;
	}

	h2,
	.h2 {
		font-size: 32px;
		color: var(--gray);
	}

	h3,
	.h3 {
		font-size: 24px;
	}
}
