@layer section {
	.section {
		scroll-margin-top: var(--header-height);
		display: grid;
		grid-template-columns:
			[viewport-start] minmax(var(--mobile-padding), 1fr)
			[main-start] min(100% - 60px, 1100px)
			[main-end] minmax(var(--mobile-padding), 1fr) [viewport-end];
	}

	.section-inner {
		grid-column: main-start / main-end;
	}

	.section-alt-bg {
		background-color: var(--dark-blue-alt-50);
	}
}
