@layer variables {
	:root {
		--dark-blue: #0f172b;
		--dark-blue-50: #0f172b80;
		--dark-blue-80: #0f172bcc;
		--dark-blue-alt-50: #1d293d80;
		--dark-blue-alt-80: #1d293dcd;
		--blue: #2b7fff;
		--blue-10: #2b7fff1a;
		--blue-20: #2b7fff33;
		--blue-50: #2b80ff81;
		--blue-80: #2b80ffcc;
		--turquoise: #00b8db;
		--purple: #615fff;
		--gray-blue: #31415880;

		--gradient-blue: #51a2ff;
		--gradient-light-blue: #00d3f2;

		--pure-white: #ffffff;
		--white: #d1d5dc;
		--white-20: #d1d5dc33;
		--gray: #99a1af;

		--font-family: "Arial", "Helvetica", sans-serif;

		--screen-tablet: 768px;
		--mobile-padding: 30px;
		--header-height: 75px;
	}
}
